

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}


/* header start */
header{
    margin: 30px 150px 0 150px;
}

/* navber start */
nav{
    display:flex;
    justify-content: space-between;
   
}
.logo{
    width: 135px;
    height: 82px;
}
.nav-item{
    font-size: 16px;
    align-items: center;
}

.nav-item ul {
    list-style: none;
    display: flex;
    gap:48px;
    
}
.nav-item ul li{
    padding: 18px 0;
    font-size: 16px;
}
.nav-item ul li:hover{
    font-weight: bold;
}
.nav-item ul li a{
    text-decoration: none;
}
.home{
    color:black;
    font-weight: bold;
}
.shops,.ab{
    color: rgba(107, 114, 128, 1);
}
.cart{
    color:black;
}
/* navber end */

/*bannar start  */
.bannar{
    margin: 120px auto;
    display: flex;
    
}
.des{
    margin-top: 50px;
    gap:16px;
}
.des h1{
    font-size: 45px;
    font-weight: bold;

}
.des p{
    font-size: 18px;
    font-weight: normal;
    color:rgba(0, 0, 0, 0.5)
}

.side-img{
    margin-top: -10px;
}
.fresh-flower{
    color:#E95A08;
}
/* header end */
/* main start */
main{
    margin:120px 150px;
}
.our{
    color:#E95A08;
}
.our-plants {
    text-align: center;
    
}
.our-plants h2, .latest-title h2{
    font-size: 50px;
    text-align: center;
}
.our-plants p , .latest-title p{
    color: rgba(0, 0, 0, 0.5);
    margin: 16px 126px;
    font-size: 22px;
    text-align: center;
}
.card-container{
    display: grid;
    width: 100%;
    gap:20px;
    grid-template-columns: repeat(4,1fr);
    margin-top: 49px;
    
    align-items: center;
}
.card{
   width: 270px;
   margin: 30px 0px;

}
.card-des{
    margin:30px 69px;
}
.card h5{
    font-size: 18px;
    margin-top: 25px;
}
.card-img{
   width: 270px;
}
.btn button{
    padding:26px 50px;
    border: none;
    background-color: #E95A08;
    width: 270px;
    font-weight: 700;
    color:white;
}
.btn :hover{
    color:#E95A08;
    background-color: white;
    border: 1px solid #E95A08;
}
.f-lover{
    display: flex;
    margin-top: 210px;
    gap: 60px;
}
.shop-img{
    width: 100%;
    
}
.shop-des{
    padding:38px 0;
}
.shop-des h2 {
    font-size: 50px;
    font-weight: bold;

}
.shop-des li{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.5);
    margin:20px 0;
}
.latest{
    margin-top: 133px;
}

.latest-title{
    margin-bottom: 120px;
}

.first-layout{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap:28px;
}
.sec-layout{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.bloom,.ana ,.zabo{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.bloom img, .ana img{
    width: 367px;
    height: 197px;
    object-fit: cover;
    display: block;
}
.zabo img{
    width: 753px;
    height: 423px;
    object-fit: cover;
    display: block;
}
.p-des{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    
}
.p-des h2{
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.p-des p a{
    text-decoration: underline;
    color:white;
    font-size: 16px;

}
.zabo .p-des h2{
    font-size: 40px;

}
.zabo .p-des p a{
    font-size: 20px;
}
.p-des p a:hover{
    font-weight: bold;
}
.p-des p:hover{
    transform: scale(1.3);
}
.join-bg{
    margin-top: 120px;
    width: 100vw; 
    height: auto;
    text-align: center;
    background-image: url('assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.join{
    width: 50vw;
    padding:193px 305px 193px 305px;
    margin:0 auto;
    
}
.join h2{
    font-size: 50px;
    font-weight: bold;
    color:white;
}
form{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 830px;
   height: 50px;
   margin:23px auto;

}
form input[type="email"]{
    padding: 1px 20px;
    font-size: 16px;
    background-color: white;
    color:black;
    height: 50px;
    width: 644px;
    border: none;
}
form input[type="submit"]{
    padding:17px 50px;
    font-size: 16px;
    font-weight: 600;
    color:white;
    background-color: #E95A08;
    border:none;
} 
/* main end */

/* footer start */
footer{
    display: flex;
    justify-content: space-evenly;
    padding:50px 0;
}
.lg p{
    margin-top: 16px;
    color:rgba(0, 0, 0, 0.5);
    font-size: 22px;
    width: 359px;
}
.link-list ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:26px 110px;
}
.link-list ul li{
    list-style: none;
}
.link-list ul li a{
    text-decoration: none;
    color:rgba(107, 114, 128, 1);
}
.link-list ul li a:hover{
    text-decoration: underline;
}
.icon img{
    margin:0 24px;
    
}
.icon img:hover{
    transform: scale(1.3);
}

/* footer end */


/* Responsive for mobile */
@media screen and (max-width:600px){
    
    header{
        margin:16px;
        width: 100%;
    }
    .logo{
        width: 63px;
        height: 38px;
    }
    .h ,.s,.a{
        display: none;
    }
    
    .bannar{
        margin: 28px 0;
        flex-direction: column-reverse;
    }
    .side-img{
        width: 90%;
        margin: 0 2px;
    }
    .des{
        margin: 0 16px;

    }
    main{
        margin:2px 2px;
    }
    
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .f-lover{
        flex-direction: column;
        margin:41px 15px 0 15px;
        gap:18px;
    }
    
    .latest p, .our-plants p{
        margin:28px;
    }
    .first-layout{
        flex-direction: column;
        margin-top: 51px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .bloom img , .ana img , .zabo img{
        width: 500px;
        height: 252px;
         margin: 0 16px 20px 16px;
        border-radius: 15px;
        object-fit: cover;
    }
    .p-des h2{
        font-size: 20px;
    }
    .zabo .p-des h2{
    font-size: 20px;

}
.p-des p a{
    padding: 26px 50px;
    font-size: 16px;
    text-align: center;
}
.join-bg{
    margin-top: 44px;
    width: 590px;
}
.join{
    padding:110px 36px 63px 36px;
}
.join h2{
    font-size: 20px;
}
form{
   width: 100%;
   height: 50px;
   
}
form input[type="email"]{
    width: 218px;
}
form input[type="submit"]{
    padding:17px 12px
}

footer{
    flex-direction: column;
    margin:50px 20px;
}
.link-list ul{
    grid-template-columns: repeat(1,1fr);
    margin: 20px 0;
}
.link-list{
    margin-bottom: 20px;
}
}